@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

.navbar {
  position: relative;
  height: 50px;
  left: 0px;
  top: 0px;

  background: linear-gradient(90deg, #ce4969 0%, #74518f 100%);
}

.name-squad {
  width: 201px;
  left: 102px;

  font: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21, 09px;
  color: #ffffff;
}

.name-fim {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

.account-icon {
  width: 24px;
  height: 24px;
  size: 1em;
  margin-left: 10px;
  border-radius: 19px;

  background-color: #ffffff;
}
